defmodule <%= @module_name %>.MixProject do
  use Mix.Project

  def project do
    [
      app: :<%= @app_name %>,
      version: "0.1.0",
      elixir: "<%= @elixir_requirement %>",
      start_permanent: Mix.env() == :prod,
      aliases: [run: "run --no-halt"],
      deps: deps()
    ]
  end

  def application do
    [
      extra_applications: <%= @extra_applications %>,
      mod: {<%= @module_name %>.Application, []}
    ]
  end

  defp deps do
    [
      <%= @breeze_dep %><%= @timeline_dependency %><%= @live_reload_dependency %>
    ]
  end
end
