@doc false
def cycle_theme(event, term) do
  current =
    case get_in(term.assigns, [:breeze, :theme, :name]) do
      name when is_atom(name) -> name
      _name -> <%= @initial_theme %>
    end

  Breeze.View.cycle_theme(event, term, current: current)
end
